<!DOCTYPE html>
{%load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title></title>
    <link rel="stylesheet" href="{% static "css/demo.css"%}">
  </head>
  <body><br>
    <h1>CUSTOMER REGISTRATION</h1><br>
    <div class="container" align=center>
    <form  action={% url 'process' %}  method="post">
    {{form.as_p}}
    {%csrf_token%}
    <input type="submit" class="btn btn-primary" value="Register">
    </form>
    </div>
</body>
</html>
