<!DOCTYPE html>
{%load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title></title>
    <link rel="stylesheet" href="{% static "css/demo1.css"%}">
  </head>
<body><center><h1>CUSTOMERS INFORMATION</h1></center>
<center>
<table border="2" width="1000">
    <tr>
        <th>NAME</th>
        <th>MOBILE</th>
        <th>AGE</th>
        <th>CITY</th>
    </tr>
    {%if emp%}
    {% for i in emp %}
    <tr>
        <td>{{ i.NAME|upper}}</td>
        <td>{{ i.MOBILE}}</td>
        <td>{{ i.AGE }}</td>
        <td>{{ i.CITY|upper}}</td>
    </tr>
    {% endfor %}
   {% endif %}
</table></center><br><br>
<center>
<a href="/abcd" class="btn btn-primary">Click PDF FILE</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <a href="" class="btn btn-primary">Click TEXTFILE</a></center>
</body>
</html>